.header {
  // position: fixed;
  height: 60px;
  background: #fff;
  @extend %header-border;
  width: 100%;

  @media screen and (min-width: 768px) {
    position: relative;
    height: 80px;
  }

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 100%;
    width: 100%;
  }
}
