.nav__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  @extend %link;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}
