.icons-list__icon {
  fill: currentColor;
}
.icons-list {
  display: flex;
  justify-content: center;
  @extend %list;

  @media screen and (max-width: 1999px) {
    padding-bottom: 24px;
  }

  @media screen and(min-width:1200px) {
    padding-bottom: 30px;
  }

  &--grey {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .icons-list--white {
    fill: #fff;
  }
}

.icons-list__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icons-list__link {
  margin-right: 10px;
  color: var(--icon-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--accent-color);
  }
}
.footer-icons {
  padding: 0;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
