.join {
  margin-left: 70px;
  margin-right: 93px;
}
.join__text {
  color: var(--text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
}
