.logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  @extend %link;

  @media screen and(min-width: 1200px) {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  @extend %link;
}

.logo-header {
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 28px;
  color: var(--text-color);
  @media screen and (min-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.accent {
  color: var(--accent-color);
}
