// .portfolio-section {
//   @extend %section;

//   // flex-direction: column;
// }

// .portfolio-buttons {
//   @extend %container;
//   // margin-bottom: 50px;
//   @extend %list;
// }

// .portfolio-buttons__item {
//   // align-items: center;

//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }

// .portfolio-buttons__filter {
//   color: var(--primary-color);
//   background-color: #f5f4fa;
//   font-family: inherit;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.6;
//   text-align: center;
//   letter-spacing: 0.03em;

//   border: none;
//   border-radius: 4px;
//   padding: 6px 22px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--text-color);
//     background-color: var(--accent-color);
//     box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
//       0px 3px 1px 0px rgba(0, 0, 0, 0.1);
//   }
// }

// .portfolio-list {
//   @extend %container;
//   @extend %list;

//   // flex-wrap: wrap;
//   // gap: 30px;
// }

// .portfolio-list__item {
//   // flex-basis: calc((100% - 60px) / 3);

//   &:nth-child(3n) {
//     margin-right: 0;

//     &:nth-last-child(-n + 3) {
//       margin-bottom: 0;
//     }
//   }
// }

// .portfolio-list__link {
//   display: block;

//   color: var(--primary-color);
//   @extend %link;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
//       0px 1px 1px 0px rgba(0, 0, 0, 0.12);
//   }
// }

// .portfolio-list__heading {
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
// }

// .portfolio-list__text {
//   color: var(--secondary-color);
//   font-size: 16px;
//   line-height: 1.8;

//   letter-spacing: 0.03em;
// }

// .portfolio-list__thumb {
//   position: relative;
//   overflow: hidden;
// }

// .portfolio-overlay {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(33, 150, 243, 0.9);
//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .portfolio-list__link:hover & {
//     opacity: 1;
//     transform: translateY(0);
//     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .portfolio-overlay__text {
//   color: var(--text-color);
//   font-size: 18px;
//   line-height: 1.55;
//   text-align: left;
//   padding: 63px 24px;
// }

// .card-border {
//   border-bottom: 1px solid #eeeeee;
//   border-right: 1px solid #eeeeee;
//   border-left: 1px solid #eeeeee;
//   padding: 20px 24px 20px 24px;
// }

.filter {
  // @extend %container;
  margin-bottom: 40px;
  background-color: red;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    list-style: none;
    gap: 8px;

    @media screen and (min-width: 768px) {
      width: 100%;
      // gap:8px;
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__button {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: $buttonBackground;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms $transitionCubic, background-color 250ms $transitionCubic,
      box-shadow 250ms $transitionCubic;

    &:hover,
    &:focus {
      color: $contrastColor;
      background-color: $accentColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
