.section-benefits {
  @extend %section;
}

.section-benefits__list {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.section-benefits__item {
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and(max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.section-benefits__heading {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-benefits__text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-benefits__background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--section-background-color);
}
