.send-button {
  display: block;
  // width: 200px;
  // height: 50px;
  // margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-button-color);
  }
}
