body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--main-background-color);

  & .modal-open {
    overflow: hidden;
  }
}

.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  cursor: pointer;
}
